In [91]:
import random
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import math
from sklearn import metrics
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder, KBinsDiscretizer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from time import sleep

pd.set_option('display.float_format', lambda x: '%.3f' % x)

sns.set()

In [92]:
def generaPath(tipo, nombre):
    prepath = str(os.getcwd())
    #print(prepath)
    if (tipo == "I"):
        path = prepath + '\\' + nombre
    else :
        path = prepath + '\\generados\\' + nombre
    return path

In [93]:
df_cq_tr = pd.read_csv(generaPath('O', 'df_cq_tr.csv'))
df_cq_re = pd.read_csv(generaPath('O', 'df_cq_re.csv'))

df_cc_tr = pd.read_csv(generaPath('O', 'df_cc_tr.csv'))
df_cc_re = pd.read_csv(generaPath('O', 'df_cc_re.csv'))

df_ct_tr = pd.read_csv(generaPath('O', 'df_ct_tr.csv'))
df_ct_re = pd.read_csv(generaPath('O', 'df_ct_re.csv'))

df_cd_tr = pd.read_csv(generaPath('O', 'df_cd_tr.csv'))
df_cd_re = pd.read_csv(generaPath('O', 'df_cd_re.csv'))

df_cs_tr = pd.read_csv(generaPath('O', 'df_cs_tr.csv'))
df_cs_re = pd.read_csv(generaPath('O', 'df_cs_re.csv'))

df_cs_tr_sb = pd.read_csv(generaPath('O', 'df_cs_tr_sb.csv'))
df_cs_re_sb = pd.read_csv(generaPath('O', 'df_cs_re_sb.csv'))


df_sel_sb_tr = pd.read_csv(generaPath('O','df_sel_sb_tr.csv'))
df_sel_sb_re = pd.read_csv(generaPath('O','df_sel_sb_re.csv'))

df_sel_sb_re = pd.read_csv(generaPath('O','df_sel_si_tr.csv'))
df_sel_si_re = pd.read_csv(generaPath('O','df_sel_si_re.csv') )

sbs = pd.read_csv(generaPath('O','sbs.csv'))
singles = pd.read_csv(generaPath('O','singles.csv'))

In [94]:
def unsplited_tupla(secuence):
    num = str(secuence[0])
    partido = num.split(sep='|') if (num.find('|') >= 1) else num
    return partido

In [95]:
def secuencelist_unbuilder(secuence):
    num = str(secuence[0])
    partido = num.split(sep='|') if (num.find('|') >= 1) else num
    return partido

In [96]:
def crea_sorteos(single,sb, secuence):
    sorteo = []
    enteros = []
    # splitedtupla = unsplited_tupla(secuence)
    #enteros = secuencelist_unbuilder(str(secuence[0]))
    # print(splitedtupla)
    print(" Tipo Enteros")
    print(type(enteros))
    print(enteros)
    #sorteo = singles.iloc[enteros, 0]
    #print(sorteo)
    #sorteo.append(str(sb))
    return sorteo

In [97]:
def secuencelist_builder(a,b,c,d,e):
    secuencia=[]
    secuencia.append(a)
    secuencia.append(b)
    secuencia.append(c) 
    secuencia.append(d)
    secuencia.append(e)
    palabra = '|'.join([str(et) for et in secuencia])
    return palabra, secuencia

In [98]:
def crea_secuencias():
    secuencias = []
    secuence = []
    lsecuence =[]
    secuencia = []
    totalconteo = singles.count()[0]
    i = 0
    a = i
    b = a + 1
    c = b + 1
    d = c + 1
    e = d + 1
    while (a <= totalconteo):
        while(b <= totalconteo):
            while(c <= totalconteo):
                while(d <= totalconteo):
                    while(e <= totalconteo):
                        secuencia, secuence = secuencelist_builder(a,b,c,d,e)
                        secuencias.append(secuencia)
                        lsecuence.append(secuence)
                        e += 1
                    d += 1
                    e = d + 1
                c += 1
                d = c + 1
                e = d + 1
            b += 1
        a += 1
    print(lsecuence)
    return secuencias, lsecuence

In [99]:
def cayo_antes(sbs, singles):
    sorteos = []
    modaa = []
    lasts = []
    lsecuence = []  
    secuencias = []
    #secuencia = [1,2,3,4,5]
    secuencias, lsecuence = crea_secuencias()
    char = ','
    for index, row in sbs.iterrows():
        sb = str(row[0])
        i = 0
        for rows in secuencias:
            #print(type(rows))
            secuencia = str(rows)
            #print(secuencia)
            print(" Tipo Enteros")
            print(type(lsecuence))
            #print(lsecuence)
            sorteo = singles.iloc[lsecuence[int(i)], 0]
            print(str(sorteo) + '- i - ' + str(i) )
            i =+ 1

            #sorteos.append(crea_sorteos(singles,sb, secuencia))
    dft = sorteos
    #print(dft)
    #proba, proba1,proba2,proba3 = how_hot_is(dft, df_tr_fu_filt_delta)
    #dft['Pr']= proba
    #dft['PrX'] = proba1
    #dft['PrL'] = proba2
    #dft['PrM'] = proba3
    return dft

In [ ]:
qsort = lambda l : l if len(l)<=1 else qsort([x for x in l[1:] if x < l[0]]) + [l[0]] + qsort([x for x in l[1:] if x >= l[0]])

In [100]:
secus = []
cayo_antes(sbs, singles)
#print(secus)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 5], [0, 1, 2, 3, 6], [0, 1, 2, 3, 7], [0, 1, 2, 3, 8], [0, 1, 2, 3, 9], [0, 1, 2, 3, 10], [0, 1, 2, 3, 11], [0, 1, 2, 3, 12], [0, 1, 2, 3, 13], [0, 1, 2, 3, 14], [0, 1, 2, 3, 15], [0, 1, 2, 3, 16], [0, 1, 2, 3, 17], [0, 1, 2, 3, 18], [0, 1, 2, 3, 19], [0, 1, 2, 4, 5], [0, 1, 2, 4, 6], [0, 1, 2, 4, 7], [0, 1, 2, 4, 8], [0, 1, 2, 4, 9], [0, 1, 2, 4, 10], [0, 1, 2, 4, 11], [0, 1, 2, 4, 12], [0, 1, 2, 4, 13], [0, 1, 2, 4, 14], [0, 1, 2, 4, 15], [0, 1, 2, 4, 16], [0, 1, 2, 4, 17], [0, 1, 2, 4, 18], [0, 1, 2, 4, 19], [0, 1, 2, 5, 6], [0, 1, 2, 5, 7], [0, 1, 2, 5, 8], [0, 1, 2, 5, 9], [0, 1, 2, 5, 10], [0, 1, 2, 5, 11], [0, 1, 2, 5, 12], [0, 1, 2, 5, 13], [0, 1, 2, 5, 14], [0, 1, 2, 5, 15], [0, 1, 2, 5, 16], [0, 1, 2, 5, 17], [0, 1, 2, 5, 18], [0, 1, 2, 5, 19], [0, 1, 2, 6, 7], [0, 1, 2, 6, 8], [0, 1, 2, 6, 9], [0, 1, 2, 6, 10], [0, 1, 2, 6, 11], [0, 1, 2, 6, 12], [0, 1, 2, 6, 13], [0, 1, 2, 6, 14], [0, 1, 2, 6, 15], [0, 1, 2, 6, 16], [0, 1, 2, 6, 17], [0, 1, 2, 6, 18], [0, 1, 2, 6, 19], [0, 1, 2, 7, 8], [0, 1, 2, 7, 9], [0, 1, 2, 7, 10], [0, 1, 2, 7, 11], [0, 1, 2, 7, 12], [0, 1, 2, 7, 13], [0, 1, 2, 7, 14], [0, 1, 2, 7, 15], [0, 1, 2, 7, 16], [0, 1, 2, 7, 17], [0, 1, 2, 7, 18], [0, 1, 2, 7, 19], [0, 1, 2, 8, 9], [0, 1, 2, 8, 10], [0, 1, 2, 8, 11], [0, 1, 2, 8, 12], [0, 1, 2, 8, 13], [0, 1, 2, 8, 14], [0, 1, 2, 8, 15], [0, 1, 2, 8, 16], [0, 1, 2, 8, 17], [0, 1, 2, 8, 18], [0, 1, 2, 8, 19], [0, 1, 2, 9, 10], [0, 1, 2, 9, 11], [0, 1, 2, 9, 12], [0, 1, 2, 9, 13], [0, 1, 2, 9, 14], [0, 1, 2, 9, 15], [0, 1, 2, 9, 16], [0, 1, 2, 9, 17], [0, 1, 2, 9, 18], [0, 1, 2, 9, 19], [0, 1, 2, 10, 11], [0, 1, 2, 10, 12], [0, 1, 2, 10, 13], [0, 1, 2, 10, 14], [0, 1, 2, 10, 15], [0, 1, 2, 10, 16], [0, 1, 2, 10, 17], [0, 1, 2, 10, 18], [0, 1, 2, 10, 19], [0, 1, 2, 11, 12], [0, 1, 2, 11, 13], [0, 1, 2, 11, 14], [0, 1, 2, 11, 15], [0, 1, 2, 11, 16], [0, 1, 2, 11, 17], [0, 1, 2, 11, 18], [0, 1, 2, 11, 19], [0, 1, 2, 12, 13], [0, 1, 2, 12, 14], [0, 1, 2, 12, 15], [0, 1, 2, 12, 16], [0, 1, 2, 12, 17], [0, 1, 2, 12, 18], [0, 1, 2, 12, 19], [0, 1, 2, 13, 14], [0, 1, 2, 13, 15], [0, 1, 2, 13, 16], [0, 1, 2, 13, 17], [0, 1, 2, 13, 18], [0, 1, 2, 13, 19], [0, 1, 2, 14, 15], [0, 1, 2, 14, 16], [0, 1, 2, 14, 17], [0, 1, 2, 14, 18], [0, 1, 2, 14, 19], [0, 1, 2, 15, 16], [0, 1, 2, 15, 17], [0, 1, 2, 15, 18], [0, 1, 2, 15, 19], [0, 1, 2, 16, 17], [0, 1, 2, 16, 18], [0, 1, 2, 16, 19], [0, 1, 2, 17, 18], [0, 1, 2, 17, 19], [0, 1, 2, 18, 19], [0, 1, 3, 4, 5], [0, 1, 3, 4, 6], [0, 1, 3, 4, 7], [0, 1, 3, 4, 8], [0, 1, 3, 4, 9], [0, 1, 3, 4, 10], [0, 1, 3, 4, 11], [0, 1, 3, 4, 12], [0, 1, 3, 4, 13], [0, 1, 3, 4, 14], [0, 1, 3, 4, 15], [0, 1, 3, 4, 16], [0, 1, 3, 4, 17], [0, 1, 3, 4, 18], [0, 1, 3, 4, 19], [0, 1, 3, 5, 6], [0, 1, 3, 5, 7], [0, 1, 3, 5, 8], [0, 1, 3, 5, 9], [0, 1, 3, 5, 10], [0, 1, 3, 5, 11], [0, 1, 3, 5, 12], [0, 1, 3, 5, 13], [0, 1, 3, 5, 14], [0, 1, 3, 5, 15], [0, 1, 3, 5, 16], [0, 1, 3, 5, 17], [0, 1, 3, 5, 18], [0, 1, 3, 5, 19], [0, 1, 3, 6, 7], [0, 1, 3, 6, 8], [0, 1, 3, 6, 9], [0, 1, 3, 6, 10], [0, 1, 3, 6, 11], [0, 1, 3, 6, 12], [0, 1, 3, 6, 13], [0, 1, 3, 6, 14], [0, 1, 3, 6, 15], [0, 1, 3, 6, 16], [0, 1, 3, 6, 17], [0, 1, 3, 6, 18], [0, 1, 3, 6, 19], [0, 1, 3, 7, 8], [0, 1, 3, 7, 9], [0, 1, 3, 7, 10], [0, 1, 3, 7, 11], [0, 1, 3, 7, 12], [0, 1, 3, 7, 13], [0, 1, 3, 7, 14], [0, 1, 3, 7, 15], [0, 1, 3, 7, 16], [0, 1, 3, 7, 17], [0, 1, 3, 7, 18], [0, 1, 3, 7, 19], [0, 1, 3, 8, 9], [0, 1, 3, 8, 10], [0, 1, 3, 8, 11], [0, 1, 3, 8, 12], [0, 1, 3, 8, 13], [0, 1, 3, 8, 14], [0, 1, 3, 8, 15], [0, 1, 3, 8, 16], [0, 1, 3, 8, 17], [0, 1, 3, 8, 18], [0, 1, 3, 8, 19], [0, 1, 3, 9, 10], [0, 1, 3, 9, 11], [0, 1, 3, 9, 12], [0, 1, 3, 9, 13], [0, 1, 3, 9, 14], [0, 1, 3, 9, 15], [0, 1, 3, 9, 16], [0, 1, 3, 9, 17], [0, 1, 3, 9, 18], [0, 1, 3, 9, 19], [0, 1, 3, 10, 11], [0, 1, 3, 10, 12], [0, 1, 3, 10, 13], [0, 1, 3, 10, 14], [0, 1, 3, 10, 15], [0, 1, 3, 10, 16], [0, 1, 3, 10, 17], [0, 1, 3, 10, 18], [0, 1, 3, 10, 19], [0, 1, 3, 11, 12], [0, 1, 3, 11, 13], [0, 1, 3, 11, 14], [0, 1, 3, 11, 15], [0, 1, 3, 11, 16], [0, 1, 3, 11, 17], [0, 1, 3, 11, 18], [0, 1, 3, 11, 19], [0, 1, 3, 12, 13], [0, 1, 3, 12, 14], [0, 1, 3, 12, 15], [0, 1, 3, 12, 16], [0, 1, 3, 12, 17], [0, 1, 3, 12, 18], [0, 1, 3, 12, 19], [0, 1, 3, 13, 14], [0, 1, 3, 13, 15], [0, 1, 3, 13, 16], [0, 1, 3, 13, 17], [0, 1, 3, 13, 18], [0, 1, 3, 13, 19], [0, 1, 3, 14, 15], [0, 1, 3, 14, 16], [0, 1, 3, 14, 17], [0, 1, 3, 14, 18], [0, 1, 3, 14, 19], [0, 1, 3, 15, 16], [0, 1, 3, 15, 17], [0, 1, 3, 15, 18], [0, 1, 3, 15, 19], [0, 1, 3, 16, 17], [0, 1, 3, 16, 18], [0, 1, 3, 16, 19], [0, 1, 3, 17, 18], [0, 1, 3, 17, 19], [0, 1, 3, 18, 19], [0, 1, 4, 5, 6], [0, 1, 4, 5, 7], [0, 1, 4, 5, 8], [0, 1, 4, 5, 9], [0, 1, 4, 5, 10], [0, 1, 4, 5, 11], [0, 1, 4, 5, 12], [0, 1, 4, 5, 13], [0, 1, 4, 5, 14], [0, 1, 4, 5, 15], [0, 1, 4, 5, 16], [0, 1, 4, 5, 17], [0, 1, 4, 5, 18], [0, 1, 4, 5, 19], [0, 1, 4, 6, 7], [0, 1, 4, 6, 8], [0, 1, 4, 6, 9], [0, 1, 4, 6, 10], [0, 1, 4, 6, 11], [0, 1, 4, 6, 12], [0, 1, 4, 6, 13], [0, 1, 4, 6, 14], [0, 1, 4, 6, 15], [0, 1, 4, 6, 16], [0, 1, 4, 6, 17], [0, 1, 4, 6, 18], [0, 1, 4, 6, 19], [0, 1, 4, 7, 8], [0, 1, 4, 7, 9], [0, 1, 4, 7, 10], [0, 1, 4, 7, 11], [0, 1, 4, 7, 12], [0, 1, 4, 7, 13], [0, 1, 4, 7, 14], [0, 1, 4, 7, 15], [0, 1, 4, 7, 16], [0, 1, 4, 7, 17], [0, 1, 4, 7, 18], [0, 1, 4, 7, 19], [0, 1, 4, 8, 9], [0, 1, 4, 8, 10], [0, 1, 4, 8, 11], [0, 1, 4, 8, 12], [0, 1, 4, 8, 13], [0, 1, 4, 8, 14], [0, 1, 4, 8, 15], [0, 1, 4, 8, 16], [0, 1, 4, 8, 17], [0, 1, 4, 8, 18], [0, 1, 4, 8, 19], [0, 1, 4, 9, 10], [0, 1, 4, 9, 11], [0, 1, 4, 9, 12], [0, 1, 4, 9, 13], [0, 1, 4, 9, 14], [0, 1, 4, 9, 15], [0, 1, 4, 9, 16], [0, 1, 4, 9, 17], [0, 1, 4, 9, 18], [0, 1, 4, 9, 19], [0, 1, 4, 10, 11], [0, 1, 4, 10, 12], [0, 1, 4, 10, 13], [0, 1, 4, 10, 14], [0, 1, 4, 10, 15], [0, 1, 4, 10, 16], [0, 1, 4, 10, 17], [0, 1, 4, 10, 18], [0, 1, 4, 10, 19], [0, 1, 4, 11, 12], [0, 1, 4, 11, 13], [0, 1, 4, 11, 14], [0, 1, 4, 11, 15], [0, 1, 4, 11, 16], [0, 1, 4, 11, 17], [0, 1, 4, 11, 18], [0, 1, 4, 11, 19], [0, 1, 4, 12, 13], [0, 1, 4, 12, 14], [0, 1, 4, 12, 15], [0, 1, 4, 12, 16], [0, 1, 4, 12, 17], [0, 1, 4, 12, 18], [0, 1, 4, 12, 19], [0, 1, 4, 13, 14], [0, 1, 4, 13, 15], [0, 1, 4, 13, 16], [0, 1, 4, 13, 17], [0, 1, 4, 13, 18], [0, 1, 4, 13, 19], [0, 1, 4, 14, 15], [0, 1, 4, 14, 16], [0, 1, 4, 14, 17], [0, 1, 4, 14, 18], [0, 1, 4, 14, 19], [0, 1, 4, 15, 16], [0, 1, 4, 15, 17], [0, 1, 4, 15, 18], [0, 1, 4, 15, 19], [0, 1, 4, 16, 17], [0, 1, 4, 16, 18], [0, 1, 4, 16, 19], [0, 1, 4, 17, 18], [0, 1, 4, 17, 19], [0, 1, 4, 18, 19], [0, 1, 5, 6, 7], [0, 1, 5, 6, 8], [0, 1, 5, 6, 9], [0, 1, 5, 6, 10], [0, 1, 5, 6, 11], [0, 1, 5, 6, 12], [0, 1, 5, 6, 13], [0, 1, 5, 6, 14], [0, 1, 5, 6, 15], [0, 1, 5, 6, 16], [0, 1, 5, 6, 17], [0, 1, 5, 6, 18], [0, 1, 5, 6, 19], [0, 1, 5, 7, 8], [0, 1, 5, 7, 9], [0, 1, 5, 7, 10], [0, 1, 5, 7, 11], [0, 1, 5, 7, 12], [0, 1, 5, 7, 13], [0, 1, 5, 7, 14], [0, 1, 5, 7, 15], [0, 1, 5, 7, 16], [0, 1, 5, 7, 17], [0, 1, 5, 7, 18], [0, 1, 5, 7, 19], [0, 1, 5, 8, 9], [0, 1, 5, 8, 10], [0, 1, 5, 8, 11], [0, 1, 5, 8, 12], [0, 1, 5, 8, 13], [0, 1, 5, 8, 14], [0, 1, 5, 8, 15], [0, 1, 5, 8, 16], [0, 1, 5, 8, 17], [0, 1, 5, 8, 18], [0, 1, 5, 8, 19], [0, 1, 5, 9, 10], [0, 1, 5, 9, 11], [0, 1, 5, 9, 12], [0, 1, 5, 9, 13], [0, 1, 5, 9, 14], [0, 1, 5, 9, 15], [0, 1, 5, 9, 16], [0, 1, 5, 9, 17], [0, 1, 5, 9, 18], [0, 1, 5, 9, 19], [0, 1, 5, 10, 11], [0, 1, 5, 10, 12], [0, 1, 5, 10, 13], [0, 1, 5, 10, 14], [0, 1, 5, 10, 15], [0, 1, 5, 10, 16], [0, 1, 5, 10, 17], [0, 1, 5, 10, 18], [0, 1, 5, 10, 19], [0, 1, 5, 11, 12], [0, 1, 5, 11, 13], [0, 1, 5, 11, 14], [0, 1, 5, 11, 15], [0, 1, 5, 11, 16], [0, 1, 5, 11, 17], [0, 1, 5, 11, 18], [0, 1, 5, 11, 19], [0, 1, 5, 12, 13], [0, 1, 5, 12, 14], [0, 1, 5, 12, 15], [0, 1, 5, 12, 16], [0, 1, 5, 12, 17], [0, 1, 5, 12, 18], [0, 1, 5, 12, 19], [0, 1, 5, 13, 14], [0, 1, 5, 13, 15], [0, 1, 5, 13, 16], [0, 1, 5, 13, 17], [0, 1, 5, 13, 18], [0, 1, 5, 13, 19], [0, 1, 5, 14, 15], [0, 1, 5, 14, 16], [0, 1, 5, 14, 17], [0, 1, 5, 14, 18], [0, 1, 5, 14, 19], [0, 1, 5, 15, 16], [0, 1, 5, 15, 17], [0, 1, 5, 15, 18], [0, 1, 5, 15, 19], [0, 1, 5, 16, 17], [0, 1, 5, 16, 18], [0, 1, 5, 16, 19], [0, 1, 5, 17, 18], [0, 1, 5, 17, 19], [0, 1, 5, 18, 19], [0, 1, 6, 7, 8], [0, 1, 6, 7, 9], [0, 1, 6, 7, 10], [0, 1, 6, 7, 11], [0, 1, 6, 7, 12], [0, 1, 6, 7, 13], [0, 1, 6, 7, 14], [0, 1, 6, 7, 15], [0, 1, 6, 7, 16], [0, 1, 6, 7, 17], [0, 1, 6, 7, 18], [0, 1, 6, 7, 19], [0, 1, 6, 8, 9], [0, 1, 6, 8, 10], [0, 1, 6, 8, 11], [0, 1, 6, 8, 12], [0, 1, 6, 8, 13], [0, 1, 6, 8, 14], [0, 1, 6, 8, 15], [0, 1, 6, 8, 16], [0, 1, 6, 8, 17], [0, 1, 6, 8, 18], [0, 1, 6, 8, 19], [0, 1, 6, 9, 10], [0, 1, 6, 9, 11], [0, 1, 6, 9, 12], [0, 1, 6, 9, 13], [0, 1, 6, 9, 14], [0, 1, 6, 9, 15], [0, 1, 6, 9, 16], [0, 1, 6, 9, 17], [0, 1, 6, 9, 18], [0, 1, 6, 9, 19], [0, 1, 6, 10, 11], [0, 1, 6, 10, 12], [0, 1, 6, 10, 13], [0, 1, 6, 10, 14], [0, 1, 6, 10, 15], [0, 1, 6, 10, 16], [0, 1, 6, 10, 17], [0, 1, 6, 10, 18], [0, 1, 6, 10, 19], [0, 1, 6, 11, 12], [0, 1, 6, 11, 13], [0, 1, 6, 11, 14], [0, 1, 6, 11, 15], [0, 1, 6, 11, 16], [0, 1, 6, 11, 17], [0, 1, 6, 11, 18], [0, 1, 6, 11, 19], [0, 1, 6, 12, 13], [0, 1, 6, 12, 14], [0, 1, 6, 12, 15], [0, 1, 6, 12, 16], [0, 1, 6, 12, 17], [0, 1, 6, 12, 18], [0, 1, 6, 12, 19], [0, 1, 6, 13, 14], [0, 1, 6, 13, 15], [0, 1, 6, 13, 16], [0, 1, 6, 13, 17], [0, 1, 6, 13, 18], [0, 1, 6, 13, 19], [0, 1, 6, 14, 15], [0, 1, 6, 14, 16], [0, 1, 6, 14, 17], [0, 1, 6, 14, 18], [0, 1, 6, 14, 19], [0, 1, 6, 15, 16], [0, 1, 6, 15, 17], [0, 1, 6, 15, 18], [0, 1, 6, 15, 19], [0, 1, 6, 16, 17], [0, 1, 6, 16, 18], [0, 1, 6, 16, 19], [0, 1, 6, 17, 18], [0, 1, 6, 17, 19], [0, 1, 6, 18, 19], [0, 1, 7, 8, 9], [0, 1, 7, 8, 10], [0, 1, 7, 8, 11], [0, 1, 7, 8, 12], [0, 1, 7, 8, 13], [0, 1, 7, 8, 14], [0, 1, 7, 8, 15], [0, 1, 7, 8, 16], [0, 1, 7, 8, 17], [0, 1, 7, 8, 18], [0, 1, 7, 8, 19], [0, 1, 7, 9, 10], [0, 1, 7, 9, 11], [0, 1, 7, 9, 12], [0, 1, 7, 9, 13], [0, 1, 7, 9, 14], [0, 1, 7, 9, 15], [0, 1, 7, 9, 16], [0, 1, 7, 9, 17], [0, 1, 7, 9, 18], [0, 1, 7, 9, 19], [0, 1, 7, 10, 11], [0, 1, 7, 10, 12], [0, 1, 7, 10, 13], [0, 1, 7, 10, 14], [0, 1, 7, 10, 15], [0, 1, 7, 10, 16], [0, 1, 7, 10, 17], [0, 1, 7, 10, 18], [0, 1, 7, 10, 19], [0, 1, 7, 11, 12], [0, 1, 7, 11, 13], [0, 1, 7, 11, 14], [0, 1, 7, 11, 15], [0, 1, 7, 11, 16], [0, 1, 7, 11, 17], [0, 1, 7, 11, 18], [0, 1, 7, 11, 19], [0, 1, 7, 12, 13], [0, 1, 7, 12, 14], [0, 1, 7, 12, 15], [0, 1, 7, 12, 16], [0, 1, 7, 12, 17], [0, 1, 7, 12, 18], [0, 1, 7, 12, 19], [0, 1, 7, 13, 14], [0, 1, 7, 13, 15], [0, 1, 7, 13, 16], [0, 1, 7, 13, 17], [0, 1, 7, 13, 18], [0, 1, 7, 13, 19], [0, 1, 7, 14, 15], [0, 1, 7, 14, 16], [0, 1, 7, 14, 17], [0, 1, 7, 14, 18], [0, 1, 7, 14, 19], [0, 1, 7, 15, 16], [0, 1, 7, 15, 17], [0, 1, 7, 15, 18], [0, 1, 7, 15, 19], [0, 1, 7, 16, 17], [0, 1, 7, 16, 18], [0, 1, 7, 16, 19], [0, 1, 7, 17, 18], [0, 1, 7, 17, 19], [0, 1, 7, 18, 19], [0, 1, 8, 9, 10], [0, 1, 8, 9, 11], [0, 1, 8, 9, 12], [0, 1, 8, 9, 13], [0, 1, 8, 9, 14], [0, 1, 8, 9, 15], [0, 1, 8, 9, 16], [0, 1, 8, 9, 17], [0, 1, 8, 9, 18], [0, 1, 8, 9, 19], [0, 1, 8, 10, 11], [0, 1, 8, 10, 12], [0, 1, 8, 10, 13], [0, 1, 8, 10, 14], [0, 1, 8, 10, 15], [0, 1, 8, 10, 16], [0, 1, 8, 10, 17], [0, 1, 8, 10, 18], [0, 1, 8, 10, 19], [0, 1, 8, 11, 12], [0, 1, 8, 11, 13], [0, 1, 8, 11, 14], [0, 1, 8, 11, 15], [0, 1, 8, 11, 16], [0, 1, 8, 11, 17], [0, 1, 8, 11, 18], [0, 1, 8, 11, 19], [0, 1, 8, 12, 13], [0, 1, 8, 12, 14], [0, 1, 8, 12, 15], [0, 1, 8, 12, 16], [0, 1, 8, 12, 17], [0, 1, 8, 12, 18], [0, 1, 8, 12, 19], [0, 1, 8, 13, 14], [0, 1, 8, 13, 15], [0, 1, 8, 13, 16], [0, 1, 8, 13, 17], [0, 1, 8, 13, 18], [0, 1, 8, 13, 19], [0, 1, 8, 14, 15], [0, 1, 8, 14, 16], [0, 1, 8, 14, 17], [0, 1, 8, 14, 18], [0, 1, 8, 14, 19], [0, 1, 8, 15, 16], [0, 1, 8, 15, 17], [0, 1, 8, 15, 18], [0, 1, 8, 15, 19], [0, 1, 8, 16, 17], [0, 1, 8, 16, 18], [0, 1, 8, 16, 19], [0, 1, 8, 17, 18], [0, 1, 8, 17, 19], [0, 1, 8, 18, 19], [0, 1, 9, 10, 11], [0, 1, 9, 10, 12], [0, 1, 9, 10, 13], [0, 1, 9, 10, 14], [0, 1, 9, 10, 15], [0, 1, 9, 10, 16], [0, 1, 9, 10, 17], [0, 1, 9, 10, 18], [0, 1, 9, 10, 19], [0, 1, 9, 11, 12], [0, 1, 9, 11, 13], [0, 1, 9, 11, 14], [0, 1, 9, 11, 15], [0, 1, 9, 11, 16], [0, 1, 9, 11, 17], [0, 1, 9, 11, 18], [0, 1, 9, 11, 19], [0, 1, 9, 12, 13], [0, 1, 9, 12, 14], [0, 1, 9, 12, 15], [0, 1, 9, 12, 16], [0, 1, 9, 12, 17], [0, 1, 9, 12, 18], [0, 1, 9, 12, 19], [0, 1, 9, 13, 14], [0, 1, 9, 13, 15], [0, 1, 9, 13, 16], [0, 1, 9, 13, 17], [0, 1, 9, 13, 18], [0, 1, 9, 13, 19], [0, 1, 9, 14, 15], [0, 1, 9, 14, 16], [0, 1, 9, 14, 17], [0, 1, 9, 14, 18], [0, 1, 9, 14, 19], [0, 1, 9, 15, 16], [0, 1, 9, 15, 17], [0, 1, 9, 15, 18], [0, 1, 9, 15, 19], [0, 1, 9, 16, 17], [0, 1, 9, 16, 18], [0, 1, 9, 16, 19], [0, 1, 9, 17, 18], [0, 1, 9, 17, 19], [0, 1, 9, 18, 19], [0, 1, 10, 11, 12], [0, 1, 10, 11, 13], [0, 1, 10, 11, 14], [0, 1, 10, 11, 15], [0, 1, 10, 11, 16], [0, 1, 10, 11, 17], [0, 1, 10, 11, 18], [0, 1, 10, 11, 19], [0, 1, 10, 12, 13], [0, 1, 10, 12, 14], [0, 1, 10, 12, 15], [0, 1, 10, 12, 16], [0, 1, 10, 12, 17], [0, 1, 10, 12, 18], [0, 1, 10, 12, 19], [0, 1, 10, 13, 14], [0, 1, 10, 13, 15], [0, 1, 10, 13, 16], [0, 1, 10, 13, 17], [0, 1, 10, 13, 18], [0, 1, 10, 13, 19], [0, 1, 10, 14, 15], [0, 1, 10, 14, 16], [0, 1, 10, 14, 17], [0, 1, 10, 14, 18], [0, 1, 10, 14, 19], [0, 1, 10, 15, 16], [0, 1, 10, 15, 17], [0, 1, 10, 15, 18], [0, 1, 10, 15, 19], [0, 1, 10, 16, 17], [0, 1, 10, 16, 18], [0, 1, 10, 16, 19], [0, 1, 10, 17, 18], [0, 1, 10, 17, 19], [0, 1, 10, 18, 19], [0, 1, 11, 12, 13], [0, 1, 11, 12, 14], [0, 1, 11, 12, 15], [0, 1, 11, 12, 16], [0, 1, 11, 12, 17], [0, 1, 11, 12, 18], [0, 1, 11, 12, 19], [0, 1, 11, 13, 14], [0, 1, 11, 13, 15], [0, 1, 11, 13, 16], [0, 1, 11, 13, 17], [0, 1, 11, 13, 18], [0, 1, 11, 13, 19], [0, 1, 11, 14, 15], [0, 1, 11, 14, 16], [0, 1, 11, 14, 17], [0, 1, 11, 14, 18], [0, 1, 11, 14, 19], [0, 1, 11, 15, 16], [0, 1, 11, 15, 17], [0, 1, 11, 15, 18], [0, 1, 11, 15, 19], [0, 1, 11, 16, 17], [0, 1, 11, 16, 18], [0, 1, 11, 16, 19], [0, 1, 11, 17, 18], [0, 1, 11, 17, 19], [0, 1, 11, 18, 19], [0, 1, 12, 13, 14], [0, 1, 12, 13, 15], [0, 1, 12, 13, 16], [0, 1, 12, 13, 17], [0, 1, 12, 13, 18], [0, 1, 12, 13, 19], [0, 1, 12, 14, 15], [0, 1, 12, 14, 16], [0, 1, 12, 14, 17], [0, 1, 12, 14, 18], [0, 1, 12, 14, 19], [0, 1, 12, 15, 16], [0, 1, 12, 15, 17], [0, 1, 12, 15, 18], [0, 1, 12, 15, 19], [0, 1, 12, 16, 17], [0, 1, 12, 16, 18], [0, 1, 12, 16, 19], [0, 1, 12, 17, 18], [0, 1, 12, 17, 19], [0, 1, 12, 18, 19], [0, 1, 13, 14, 15], [0, 1, 13, 14, 16], [0, 1, 13, 14, 17], [0, 1, 13, 14, 18], [0, 1, 13, 14, 19], [0, 1, 13, 15, 16], [0, 1, 13, 15, 17], [0, 1, 13, 15, 18], [0, 1, 13, 15, 19], [0, 1, 13, 16, 17], [0, 1, 13, 16, 18], [0, 1, 13, 16, 19], [0, 1, 13, 17, 18], [0, 1, 13, 17, 19], [0, 1, 13, 18, 19], [0, 1, 14, 15, 16], [0, 1, 14, 15, 17], [0, 1, 14, 15, 18], [0, 1, 14, 15, 19], [0, 1, 14, 16, 17], [0, 1, 14, 16, 18], [0, 1, 14, 16, 19], [0, 1, 14, 17, 18], [0, 1, 14, 17, 19], [0, 1, 14, 18, 19], [0, 1, 15, 16, 17], [0, 1, 15, 16, 18], [0, 1, 15, 16, 19], [0, 1, 15, 17, 18], [0, 1, 15, 17, 19], [0, 1, 15, 18, 19], [0, 1, 16, 17, 18], [0, 1, 16, 17, 19], [0, 1, 16, 18, 19], [0, 1, 17, 18, 19]]
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
4    14
Name: tupla, dtype: int64- i - 0
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43
Name: tupla, dtype: int64- i - 1
 Tipo Enteros
<class 'list'>
0    23
1    18
2    40
3    10
5    43

[]

In [101]:
#cayo_antestetos(sbs, singles)